<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XML>	
	<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
	<Paths>
		<jMetalPath>/users/abc/def</jMetalPath>
		<jarsPath>/users/xyz/kyw</jarsPath>
	</Paths>	

<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="03/15/2018 10:34:21" Description="321311" Problem="1234545" UserEmail="321345"/>

<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="03/15/2018 11:00:05" Description="carro avariado" Problem="gota" UserEmail="gota@iscte-iul-pt"/>
<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="03/15/2018 11:00:56" Description="" Problem="" UserEmail=""/>
<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="03/15/2018 11:01:04" Description="" Problem="" UserEmail=""/>
<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="03/15/2018 11:01:04" Description="" Problem="" UserEmail=""/>
<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="03/15/2018 11:01:08" Description="" Problem="" UserEmail=""/>
<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="03/15/2018 11:01:14" Description="" Problem="" UserEmail=""/>
<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="03/15/2018 11:03:59" Description="sdsfghj" Problem="sd" UserEmail="09i887y6hjyui"/>
<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="03/16/2018 14:23:07" Description="" Problem="" UserEmail=""/>
<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="" Description="d" Problem="f" UserEmail="es2.2018.eic1.46@gmail.com"/>
<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="" Description="kjhwfuiwef ui hci2h olha hoje e dia 21" Problem="ewieohf2iufhui2hi" UserEmail="es2.2018.eic1.46@gmail.com"/>
<Administrator Name="André Neiva" email-do-administrador="agpna@iscte-iul.pt"/>
<User Date="" Description="Estamos a TEste" Problem="Teste Aula" UserEmail="isctee@gmail.com"/>
</XML>
